body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
.submitbutton{
    border-radius: 15px;
    width: 100px;
    height: 20px;
    padding: 20px; 
    background: red;
    font-weight: bold;
    font-size: 10px;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}